<h2>Category Details</h2>
<table class="table">
    <tr>
        <th>ID:</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Tên Nhà cung cấp:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>STD</th>
        <td>@Model.PhoneNumber</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-primary">Trang chủ</a>